html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: auto;
}



.row{
    width: 100%;
}

.row::after{
    clear: both;
    content: '';
    display: block;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

[class*="col-"]{
    width: 100%;
}

header{
    background-color: #24a196;
    padding: 0% 1%;
    text-align: center;
}

.log{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
}

nav ul li{
    display: block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    line-height: 70px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
}

nav ul li a:hover{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}

#banner-section{
    background-color: #ddd;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.banner-contents{
    padding: 50px 10px;
    text-align: center;
}

.banner-contents h1{
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    background-color: rgba(255,255,0,0.884);
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Handlee', cursive;
}

.banner-contents p{
    width: 300px;
    margin: 50px auto;
    background-color: rgb(0,120,0);
    color: white;
    padding: 10px;
    font-size: 1.2rem;
}
.btn{
    width: 160px;
    padding: 10px;
    font-size: 1.3rem;
    border: none;
    border: 5px;
background-color: green;
transition: .4s;
text-transform: uppercase;
color: white;
}
.btn:hover{
transform: scale(1.2);
}

#about-us{
    padding: 1%;
   
}
.about-us-contents{
    text-align: center;
}

.about-us-contents h3{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.about-us-contents p{
    font-size: 1.10rem;
    margin-bottom: 10px;
}

#menu-section{
    padding: 1%;
}
.card-body{
    text-align: center;
}
.card-body img{
    max-width: 100%;
    height: auto;
    display: block
}
.item-desc{
    background: white;
    color: black;
    width:fit-content;
    height: fit-content;
}
.item-desc > p{
    font-size: 0.8rem;
    padding: 10px;
    font-weight: bold;
}
.card{
    transition: 0.4s;
}
.card:hover{
    transform: scale(1.1);
}
.item-name{
    background-color: green;
    color: white;
    padding: 10px;
}

#menu-setion h1{
    text-align: center;
    font-size: 2.8rem;
}


.contact-details{
    color: white;
    text-align: center;
    padding: 20px 0;
}
.map{
    width: 100%;
    height: 250px;
}
#contact{
    padding: 1%;
    background-color: #595b83;
}

.contact-details p, address{
    font-size: 0.8rem;
}

footer{
    background-color: blue;
}
footer p{
    font-size: 3.2rem;
    color: white;
}

main{
    background-color: rgb(46, 41, 41);
    color: white;
}
.hiddien{
    display: none;
}

@media (min-width: 576px) {
    .col-sm-1{
        width: 8.33%;
    }

    .col-sm-2{
        width: 16.66%;
    }

    .col-sm-3{
        width: 25%;
    }

    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-11{
        width: 91.66%;
    }
    .col-sm-12{
        width: 100%;
    }

}

@media (min-width: 768px) {
    .col-sm-1{
        width: 8.33%;
    }

    .col-md-2{
        width: 16.66%;
    }

    .col-md-3{
        width: 25%;
    }

    .col-md-4{
        width: 33.33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.66%;
    }
    .col-md-12{
        width: 100%;
    }
}




@media (min-width: 992px) {
    .hiddien{
        display: block;
    }

  .log-div{
    text-align: center;
  }

  nav ul{
    text-align: right;
  }


  nav ul li{
    display: inline-block;
  }
    .col-lg-1{
        width: 8.33%;
    }

    nav ul li a{
        display: inline-block;
        transition: .4s;
    }

    #menu-icon{
        display: none;
    }

    nav ul li a:hover{
             background-color: transparent;
             transform: scale(1.2);
             text-decoration: underline;
             border-radius: 0;
    }


    #banner-section{
        position: relative;
        height: 100vh;
    }
    #banner-contents{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .banner-contents h1{
        width: 700px;
        font-size: 3.5rem;
    }

    .banner-contents p{
        width: 500px;
        font-size: 2rem;
    }


    .col-lg-2{
        width: 16.66%;
    }

    .col-lg-3{
        width: 25%;
    }

    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }

}
